@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Regular"), local("Gilroy-Regular"),
        url("../fonts/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: local("Nekst Black"), local("Nekst-Black"),
        url("../fonts/Nekst-Black/Nekst-Black.woff2") format("woff2"),
        url("../fonts/Nekst-Black/Nekst-Black.woff") format("woff"),
        url("../fonts/Nekst-Black/Nekst-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

$main-front: "Gilroy", sans-serif;

:root {
    --black: #111111;
    --grey: #575757;
    --grey-2: #f3f3f4;
    --white: #ffffff;
    --orange: #ff9514;
}

body {
    font-family: $main-front;
}

.container {
    margin: 0 auto;
    max-width: 1344px;

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
        padding: 0 48px;
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
        padding: 0 36px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        padding: 0 20px;
    }
}
