.form {
    &__wrapper {
        display: flex;
        gap: 32px;
        margin-bottom: 44px;
        @media screen and (max-width: 767px) and (min-width: 320px) {
            flex-direction: column;
            margin-bottom: 16px;
            gap: 16px;
        }
    }

    &__button {
        font-size: 30px;
        line-height: 120%;
        font-family: "Nekst", sans-serif;
        color: var(--white);
        background-color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 40px;
        padding: 0px 91.5px;
        padding-top: 14px;
        padding-bottom: 18px;
        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size: 22px;
            line-height: 90%;
            padding: 0;
            padding-top: 18px;
            padding-bottom: 22px;
            width: 100%;
        }
    }
}
