.form {
    &__wrapper {
        display: flex;
        gap: 32px;
        margin-bottom: 44px;
        @media screen and (max-width: 1439px) and (min-width: 768px) {
            flex-direction: column;
            margin-bottom: 37px;
            gap: 32px;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 16px;
            gap: 16px;
        }
    }

    &__button {
        font-size: 30px;
        line-height: 120%;
        font-family: "Nekst", sans-serif;
        color: var(--white);
        background-color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 40px;
        padding: 0px 91.5px;
        padding-top: 14px;
        padding-bottom: 18px;
        white-space: nowrap;
        @media screen and (max-width: 1439px) and (min-width: 1024px) {
            padding-right: 52px;
            padding-left: 52px;
        }
        @media screen and (max-width: 1023px) and (min-width: 768px) {
            padding-right: 52px;
            padding-left: 52px;
        }
        @media screen and (max-width: 767px) {
            font-size: 22px;
            line-height: 90%;
            padding: 0;
            padding-top: 18px;
            padding-bottom: 22px;
            width: 100%;
        }
        &:hover {
            background-color: var(--black);
            border: 1px solid var(--black);
        }

        &:active {
            background-color: var(--grey);
            border: 1px solid var(--grey);
        }
    }

    &__summary {
        margin-bottom: 213px;
    }
}
