.header {
    margin-top: 213px;
    margin-bottom: 32px;
    @media screen and (max-width: 1439px) and (min-width: 1024px) {
        margin-top: 100px;
        margin-bottom: 44px;
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
        margin-top: 64px;
        margin-bottom: 44px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 44px;
    }

    &__title {
        font-family: "Nekst", sans-serif;
        font-size: 54px;
        line-height: 90%;
        color: var(--black);
        width: 50%;
        @media screen and (max-width: 767px) {
            font-size: 34px;
            width: 100%;
        }
    }
}
