.param {
    width: 33.3333%;
    &_disabled {
        opacity: 0.4;
    }
    @media screen and (max-width: 1439px) {
        width: 100%;
    }
    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        border-radius: 16px;
        border: 1px solid var(--grey-2);
        background-color: var(--grey-2);
        @media screen and (max-width: 767px) {
            padding: 20px;
        }
        &.active {
            background-color: var(--white);
        }
        &_percent {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 7px;
            padding-left: 24px;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 125%;
        color: var(--grey);
        margin-bottom: 24px;
        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 136%;
            margin-bottom: 8px;
        }
    }

    &__value {
        display: block;
        width: 100%;
        font-family: "Nekst", sans-serif;
        font-size: 30px;
        line-height: 120%;
        color: var(--grey);
        background-color: var(--grey-2);
        @media screen and (max-width: 767px) {
            font-size: 22px;
            line-height: 90%;
        }
    }

    &__mark {
        font-family: "Nekst", sans-serif;
        font-size: 30px;
        line-height: 120%;
        color: var(--grey);
        @media screen and (max-width: 767px) {
            font-size: 22px;
            line-height: 90%;
        }

        &_percent {
            font-family: "Nekst", sans-serif;
            font-size: 20px;
            line-height: 120%;
            color: var(--grey);
            @media screen and (max-width: 767px) {
                font-size: 22px;
                line-height: 90%;
            }
        }
    }

    &__percent {
        display: flex;
        align-items: center;
        border-radius: 16px;
        background-color: var(--grey-3);
        padding: 15px 17px;
        @media screen and (max-width: 767px) {
            padding: 14px;
        }
    }

    &__input {
        font-family: "Nekst", sans-serif;
        font-size: 20px;
        line-height: 120%;
        background-color: var(--grey-3);
        color: var(--grey);
        width: 28px;
        @media screen and (max-width: 767px) {
            font-size: 22px;
            line-height: 90%;
        }
    }
}

.param__details:focus-within,
.param__details:focus-within .param__value,
.param__percent:focus-within {
    background-color: var(--white);
}

input:focus {
    background-color: var(--white);
}
.slider.rc-slider {
    color: var(--orange);
    left: 24px;
    top: -2px;
    width: calc(100% - 48px);
    padding: 0;
    height: 2px;
    @media screen and (max-width: 767px) {
        left: 20px;
        width: calc(100% - 40px);
    }
}

.param:hover .rc-slider-track {
    height: 1px;
    top: 1px;
}
.param:hover .slider.rc-slider-disable .rc-slider-track {
    height: 2px;
    top: 0px;
}
