.summary {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-wrap: nowrap;
    @media screen and (max-width: 1439px) and (min-width: 1024px) {
        gap: 44px;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
        gap: 32px;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 29px;
    }

    &__item {
        width: 33.3333%;
        &_disabled {
            opacity: 0.4;
        }

        @media screen and (max-width: 1439px) and (min-width: 1024px) {
            width: 47%;
        }
        @media screen and (max-width: 1023px) and (min-width: 768px) {
            width: 47%;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 150%;
        color: var(--grey);
        margin-bottom: 8px;
        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 136%;
            margin-bottom: 2px;
        }
    }

    &__value {
        font-family: "Nekst", sans-serif;
        font-size: 54px;
        line-height: 90%;
        color: var(--grey);

        @media screen and (max-width: 767px) {
            font-size: 22px;
            line-height: 90%;
        }
    }
}
